.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;

  h1 {
    color: #333;
    font-size: 10rem;
  }

  h2 {
    color: #333;
    font-size: 3rem;
  }

  a {
    text-decoration: none;
  }
}
.title {
  color: #333
}